.product-description {
  margin-top: 3rem;
  & p {
    color: #3c3c3c;
    font-size: 1.45rem;
    max-width: 700px;
    letter-spacing: 0.03rem;
  }
  & p:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  & .heading-3 {
    font-size: 1.8rem;
  }
}