.product-price {
  margin: 2rem 0;

  &__base {
    color: $purple-dark;
    font-weight: 700;
    font-size: 2.28rem;
    font-family: $header-font;
    letter-spacing: 0.06rem;
  }

  &__regular {
    margin-top:1rem;
    color: $grey-dark-2;
    font-size: 1.4rem;
  }

  &__percentage {
    font-weight: 700;
    font-size: 1.4rem;
  }
}