.ext-link {
  &:link, &:visited {
    text-decoration: none;
    color: currentColor;
    white-space: nowrap;
    transition: all 0.2;
  }

  &__primary:active, &__primary:hover {
    color: $purple-dark;
  }

  &__secondary:active, &__secondary:hover {
    color: $yellow-1;
  }

  &__border {
    padding: 0.2rem 0.8rem;
    border: 1px solid currentColor;
    display: inline-block;
  }
}
