.section-404 {
  height: 75vh;
  min-height: 47rem;
  padding: 8rem 0;
  background-size: cover;
  background-position: center;
  color: $grey-light-3;

  &__container {
    margin: 0 auto;
    max-width: 60rem;
  }

  &__text {
    background-image: linear-gradient(to right bottom,rgba(0,0,0,.4),rgba(0,0,0,.4));
    border-radius: 3px;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    -webkit-transition: box-shadow .2s;
    transition: box-shadow .2s;
  }

  &__btn {
    justify-content: flex-start;
    display: flex;
    margin-top: 2rem;
  }
}
