.section-watches, .section-watch-straps, .section-collection-media {
  padding: 8rem 2%;
  margin: 0 auto;
  height: 50vh;

  @include respond($vp-xs) {
    margin: 0 2%;
  }

  &__container {
    max-width: $vp-lg;
    margin: 0 auto;
  }
}