.section-watches, .section-watch-straps, .section-collection-media {
  padding: 8rem 2%;
  margin: 0 auto;

  @include respond($vp-xs) {
    margin: 0 2%;
  }

  &__container {
    max-width: $vp-lg;
    margin: 0 auto;
  }
}

.section-collection-media {
  background-color: $grey-light-2;
  min-height: 20vh;
  overflow: hidden;
  padding: 0 2%;

  @include respond($vp-xl) {
    padding: 0;
  }


  &__container {
    min-height: 40vh;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  &__quote {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 40vh;
  }
}

