.section-lookbook {
  padding: 8rem 2%;
  background-color: $grey-light-2;
  margin: 0 auto;

  &__icon {
    height: 5rem;
    width: 5rem;
    fill: currentColor;
  }

  &__headline {
    display: flex;
    justify-content: center;

    & > h2 {
      text-align: center;
      margin-bottom: 5rem;
    }

    @include respond($vp-sm) {
      flex-direction: column;
      align-items: center;
    }
  }
}