.gallery {
  position: relative;
  padding: 20px;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;

  &__viewport {
    overflow: hidden;
    width: 100%;
  }

  &__viewport.is-draggable {
    cursor: move;
    cursor: grab;
  }

  &__viewport.is-dragging {
    cursor: grabbing;
  }

  &__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: -10px;
  }

  &__slide {
    padding-left: 10px;
    min-width: 100%;
    position: relative;
  }

  &__slide__inner {
    position: relative;
    overflow: hidden;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  &--thumb {
    padding-top: 0;
    margin-top: -12px;
  }

  &__container--thumb {
    cursor: default;
    margin-left: 0;
  }

  &__slide--thumb {
    padding-left: 0;
    min-width: 20%;
    border: 1px solid $grey-light-3;

    @include respond($vp-md) {
      min-width: 25%;
    }

    @include respond($vp-xs) {
      min-width: 50%;
    }

    &.is-selected {
      border: 2px solid $purple-light-1;
    }
  }

  &__slide__inner--thumb {
    touch-action: manipulation;
    cursor: pointer;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100%;
    background-color: transparent;
    position: relative;
    display: block;
    overflow: hidden;
  }

  &__slide__thumbnail {
    opacity: 0.2;
    transition: opacity 0.2s;
  }

  &__slide--thumb.is-selected &__slide__thumbnail {
    opacity: 1;
  }

  &--counter {
    padding: 5px 5px 20px 5px;
    margin-top: -16px;
    text-align: center;
    color: #333;

    font-size: 1.2rem;
  }

}

