.blockquote {
  font-size: 2.5rem;
  width: 80%;
  margin: 0 auto;
  font-style:italic;
  color: $grey-dark-6;
  padding:1.2rem 0rem 1.2rem 3.5rem;
  border-left:8px solid $purple-dark ;
  position: relative;

  &--base {
    width: 95%;
    font-size: $default-font-size;
    border-left:4px solid $purple-dark;
    padding:1.2rem 0rem 1.2rem 3.5rem;
  }

  &__text {
    &::before, &::after {
      color: $purple-dark;
    }
    &::before {
      content: "\201C";
    }

    &::after {
      content: "\201D";
    }
  }

  &--base::before {
    font-size: 2em;
    left: 5px;
    top:-5px;
  }

  &__author {
    font-size: 1.4rem;
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
  }
}