.textfield {
  font-size: $default-font-size;
  color: $grey-dark-6;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &__input, &__textarea {
    font-weight: 300;
    letter-spacing: 0.03rem;
    color: $grey-dark-6;
    padding: 0.3rem 1rem 0.8rem;
    background: 0 0;
    outline: 0;
    resize: none;
    border: 0;
    transition: all 0.3s;
    border-bottom: 1px solid $purple-dark;

    &:focus {
      border-bottom: 1px solid $purple-light-1;
    }
  }

  &__textarea {
    min-height: 10rem;
  }

  &__label {
    margin-bottom: 1rem;
  }

  &__required {
    color: red;
  }
}