.section-product, .section-reviews, .section-product-strap-suggestions {
  padding: 5rem 0 4rem;
  @include respond($vp-md) {
    padding: 3rem 2rem;
  }

  @include respond($vp-sm) {
    padding: 2rem 2%;
  }

  & > div {
    margin: 0 auto;
  }
}

.section-reviews {
  min-height: 25vh;
}

.section-product-strap-suggestions {

  & > div {
    max-width: $section;
    padding: 3rem 0;
    & > h3 {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
}

.section-specifications {
  padding: 5rem 0 8rem;

  @include respond($vp-md) {
    padding: 3rem 2rem;
  }

  @include respond($vp-sm) {
    padding: 2rem 2%;
  }

  &__container {
    max-width: $section;
    margin: 0 auto;
  }
}

